<!-- Bronchitis Section  -->
<section class="block block--dark block--skewed-right bronchitis">
  <div class="container">
    <header class="block__header">
      <h3 class="block__heading">
        One of the major disease involving the <br />
        <span class="repiratory-system-title">Respiratory System</span> is:
      </h3>
    </header>

    <div class="bronchitis__content">
      <header class="bronchitis__header">
        <h4 class="bronchitis__title">Bronchitis</h4>
        <p class="bronchitis__subtitle">bron·​chi·​tis | brän-ˈkī-təs</p>
      </header>

      <p>
        Bronchitis arises whenever the bronchial tubes that supply air to the
        human lungs get inflamed and enlarged; it is merely a swelling in the
        airways of a human (bronchi). The Bronchi link the trachea (windpipe) to
        the human lungs' small air sacs (alveoli) and the body absorbs oxygen
        through the alveolar walls. Consequently, Bronchitis causes the bronchi
        to expand and be filled with sticky mucus; this makes breathing
        difficult and prompts a person to cough. Bronchitis may be either
        <span class="repiratory-system-title">acute</span> or
        <span class="repiratory-system-title">chronic</span>.
      </p>
      <a href="#" class="link-arrow">Read more</a>
    </div>
  </div>
</section>
