<!-- Fact Section  -->
<section class="block block--accent fact">
  <div class="container fact__container">
    <header class="block__header">
      <h3 class="block__heading fact__heading">
        "You lose a lot of water just by breathing"
      </h3>
      <p class="fact__paragraph">
        Breathing allows you to take in the oxygen your cells need and expel
        carbon-dioxide waste. But when you exhale, you also breathe out a lot of
        water.
      </p>
      <p class="fact__paragraph">
        When at rest, humans exhale up to 17.5 milliliters (0.59 fluid ounces)
        of water per hour, according to a 2012 article in the journal Polish
        Pneumonology and Allergology. But you lose about four times that amount
        when you exercise, the study said.
      </p>
    </header>
    <img
      class="fact__logo"
      src="assets/svg/did_you_know.svg"
      alt="Did you know?"
    />
  </div>
</section>
