<footer class="block footer">
  <div class="container grid footer__sections">
    <section class="footer__section">
      <header class="footer__header">
        <a href="/">
          <h2 class="footer__heading">Home</h2>
        </a>
      </header>
    </section>

    <section class="footer__section">
      <header class="footer__header">
        <a href="/about.html">
          <h2 class="footer__heading">About</h2>
        </a>
      </header>
    </section>

    <section class="footer__section">
      <header class="footer__header">
        <a href="/bronchitis-full-page.html">
          <h2 class="footer__heading">Disease</h2>
        </a>
      </header>
    </section>

    <section class="footer__section">
      <header class="footer__header">
        <a href="#">
          <h2 class="footer__heading">Team</h2>
        </a>
      </header>
    </section>
    <section class="footer__brand">
      <img src="assets/img/logo.png" alt="LOGO" />
      <p class="footer__copyright">All rights reserved 2022</p>
    </section>
  </div>
</footer>
