<!-- Navigation Header -->
<header>
  <nav class="nav collapsible container">
    <a class="nav__brand" href="/">
      <img src="assets/img/logo.png" alt="STEM Logo " />
    </a>
    <svg class="icon nav__toggler">
      <use xlink:href="assets/svg/sprite.svg#menu"></use>
    </svg>
    <ul class="list nav__list collapsible__content">
      <li class="nav__item active"><a href="#">Home</a></li>
      <li class="nav__item"><a href="#">About</a></li>
      <li class="nav__item"><a href="#">Disease</a></li>
      <li class="nav__item"><a href="#">Team</a></li>
    </ul>
  </nav>
</header>
