<!-- Dark Block  -->
<div class="block block--dark">
  <article class="grid grid--1x2 container main-parts__container">
    <div class="main-parts__content">
      <h3 class="main-parts__heading">Nostrils</h3>
      <p>
        The first part of the respiratory system are the nostrils. These are two
        chambers that may be found in the nose, and they are divided from one
        another by a structure that is referred to as the sagittal septum. In
        addition to containing the neurons that are responsible for the sense of
        smell, they also serve as the primary pathways via which air may enter
        and leave the body.
      </p>
    </div>
    <img
      src="assets/img/parts/nostrils.jpg"
      alt="Nostrils"
      class="main-parts__img"
    />
  </article>

  <article class="grid grid--1x2 container main-parts__container">
    <div class="main-parts__content">
      <h3 class="main-parts__heading">Mouth</h3>
      <p>
        Although the mouth is a component of the respiratory system, it should
        not be used for breathing in air. Because it does not have a mucous
        membrane or villi, it does not effectively trap potentially harmful
        particles or warm the air. This is despite the fact that it does enable
        air to pass through it.
      </p>
    </div>
    <img src="assets/img/parts/mouth.jpg" alt="Mouth" class="main-parts__img" />
  </article>

  <article class="grid grid--1x2 container main-parts__container">
    <div class="main-parts__content">
      <h3 class="main-parts__heading">Pharynx</h3>
      <p>
        The pharynx is the second significant structure of the respiratory
        system, despite the fact that it is also a component of the digestive
        system. It is a tube that is situated in the neck and links the nostrils
        with the larynx, which is the next respiratory structure after the
        pharynx. The mouth is connected to the esophagus through this tube.
      </p>
    </div>
    <img
      src="assets/img/parts/pharynx.png"
      alt="Pharynx"
      class="main-parts__img"
    />
  </article>

  <article class="grid grid--1x2 container main-parts__container">
    <div class="main-parts__content">
      <h3 class="main-parts__heading">Larynx</h3>
      <p>
        Another tubular component of the respiratory system, the larynx, it is
        responsible for transporting air from the pharynx to the trachea after
        receiving it from the pharynx. Its length is just 44 millimeters, which
        is much less than the pharynx's length, but its width is the same as the
        pharynx's at 4 cm.
      </p>
    </div>
    <img
      src="assets/img/parts/larynx.png"
      alt="Larynx"
      class="main-parts__img"
    />
  </article>
</div>

<!-- White Block  -->
<div class="block">
  <article class="grid grid--1x2 container main-parts__container">
    <div class="main-parts__content">
      <h3 class="main-parts__heading">Trachea</h3>
      <p>
        The trachea is a tube that originates in the larynx and is still
        cartilaginous in nature, as opposed to being made of muscle. The trachea
        extends downward from this larynx all the way to the fourth vertebra in
        the thoracic spine, which is more or less at the same level as the
        heart. Because of this, its length is anywhere from 10 to 15
        centimeters, and its width is exactly 2.5 cm.
      </p>
    </div>
    <img
      src="assets/img/parts/trachea.png"
      alt="Nostrils"
      class="main-parts__img"
    />
  </article>

  <article class="grid grid--1x2 container main-parts__container">
    <div class="main-parts__content">
      <h3 class="main-parts__heading">Lungs</h3>
      <p>
        The lungs are the primary organs in charge of respiration in the body.
        The functioning of all the other structures that we have seen and will
        see in the future is necessary for the efficient operation of these.
        They are made up of two pink sacs that take up a significant portion of
        the thoracic cavity and serve as the site of gas exchange inside their
        interiors.
      </p>
    </div>
    <img
      src="assets/img/parts/human_lungs.png"
      alt="Nostrils"
      class="main-parts__img"
    />
  </article>

  <article class="grid grid--1x2 container main-parts__container">
    <div class="main-parts__content">
      <h3 class="main-parts__heading">Lobes</h3>
      <p>
        Each one of the lungs is split into portions called lobes, and these
        lobes are the fundamental units that make up those sections. The right
        side may be broken down into three sections: the upper, the middle, and
        the lower. As well as the left one, which is the smaller of the two, may
        be divided into two sections: the lower and the upper.
      </p>
    </div>
    <img
      src="assets/img/parts/lobes.png"
      alt="Nostrils"
      class="main-parts__img"
    />
  </article>

  <article class="grid grid--1x2 container main-parts__container">
    <div class="main-parts__content">
      <h3 class="main-parts__heading">Bronchi</h3>
      <p>
        After entering the lungs, the two extensions of the trachea are referred
        to as the bronchi. Bronchi are the names that are given to each of the
        bronchi. Therefore, the intrapulmonary section of the trachea is what we
        are talking about here. In addition to serving as the primary highway
        for the entry of air, one of the most significant aspects of these
        airways is the fact that they divide into bronchioles.
      </p>
    </div>
    <img
      src="assets/img/parts/bronchi.jpg"
      alt="Nostrils"
      class="main-parts__img"
    />
  </article>
</div>

<!-- Accent Block  -->
<div class="block block--accent">
  <article class="grid grid--1x2 container main-parts__container">
    <div class="main-parts__content">
      <h3 class="main-parts__heading">Bronchioles</h3>
      <p>
        The two bronchi give birth to a number of branches, which are known
        collectively as the bronchioles. The bronchi grow into ever-smaller
        bronchioles, as though branching off of a tree, until they encompass the
        whole internal capacity of the lungs. There are around 300,000
        bronchioles in each lung, and they serve the critical job of continuing
        to convey air, in this instance to the alveoli. Bronchioles are located
        throughout the lungs.
      </p>
    </div>
    <img
      src="assets/img/parts/bronchioles.png"
      alt="Bronchioles"
      class="main-parts__img"
    />
  </article>

  <article class="grid grid--1x2 container main-parts__container">
    <div class="main-parts__content">
      <h3 class="main-parts__heading">Pulmonari Alveoli</h3>
      <p>
        If we consider the lungs to be the core of the respiratory system, then
        the alveoli inside each of these lungs serve as the organ's nerve
        center. They are the locations where the actual process of gas exchange
        takes place. These are tiny sacs with a diameter of between 0.1 and 0.2
        millimeters that may be discovered near the end of the bronchioles that
        are the narrowest.
      </p>
    </div>
    <img
      src="assets/img/parts/pulmonari_alveoli.png"
      alt="Pulmonari Alveoli"
      class="main-parts__img"
    />
  </article>

  <article class="grid grid--1x2 container main-parts__container">
    <div class="main-parts__content">
      <h3 class="main-parts__heading">Pleura</h3>
      <p>
        The pleura is a membrane made of connective tissue that borders each
        lung and only permits two openings: those of the two bronchi. In this
        context, the pleura functions as the lung covering; in addition, it is
        covered by a mucosa that maintains the lubrication of the lungs and
        helps keep the lungs moist.
      </p>
    </div>
    <img
      src="assets/img/parts/pleura.PNG"
      alt="Pleura"
      class="main-parts__img"
    />
  </article>

  <article class="grid grid--1x2 container main-parts__container">
    <div class="main-parts__content">
      <h3 class="main-parts__heading">Diaphragm</h3>
      <p>
        We are now going to move on from the lung and examine another structure
        that is an important component of the respiratory system despite the
        fact that it is not directly engaged in the passage of air. We are
        speaking about the diaphragm, which is a muscle that has the form of a
        dome and is placed underneath the lungs. It tightens up in order to
        assist the lungs operate properly during inspiration, and then it
        relaxes during exhalation.
      </p>
    </div>
    <img
      src="assets/img/parts/diaphragm.PNG"
      alt="Diaphragm"
      class="main-parts__img"
    />
  </article>
</div>
