<!-- Overview  -->
<section class="block overview">
  <div class="container">
    <header class="block__header">
      <h2 class="block__heading">
        What is the
        <span class="repiratory-system-title">Respiratory System</span>?
      </h2>
      <div class="accent-border"></div>
    </header>
  </div>

  <div class="block__content block__content--grey overview__content">
    <p class="container">
      is the network of organs and tissues that help you breathe. This system
      helps your body absorb oxygen from the air so your organs can work. It
      also cleans waste gases, such as carbon dioxide, from your blood. Common
      problems include allergies, diseases or infections.
    </p>
  </div>
</section>
