<!-- Parts  -->
<section class="block parts">
  <div class="container">
    <header class="parts__header">
      <h2 class="parts__heading">
        What are the parts of the
        <span class="respiratory-system-title">Respiratory System</span>?
      </h2>
      <div class="accent-border"></div>
      <p>
        The respiratory system has many different parts that work together to
        help you breathe. Each group of parts has many separate components.
      </p>
    </header>

    <div class="parts__content">
      <img
        src="assets/img/respiratory_system_parts.png"
        alt="Parts of the Respiratory System"
      />
    </div>
  </div>
</section>
