<!-- Bronchitis Full Page  -->
<section class="block block--dark full-page">
  <div class="grid grid--1x2 container">
    <div>
      <header class="full-page__header">
        <h3 class="full-page__title">Bronchitis</h3>
        <p class="full-page__subtitle">bron·​chi·​tis | brän-ˈkī-təs</p>
      </header>

      <p class="full-page__paragraph">
        Bronchitis arises whenever the bronchial tubes that supply air to the
        human lungs get inflamed and enlarged; it is merely a swelling in the
        airways of a human (bronchi). The Bronchi link the trachea (windpipe) to
        the human lungs' small air sacs (alveoli) and the body absorbs oxygen
        through the alveolar walls. Consequently, Bronchitis causes the bronchi
        to expand and be filled with sticky mucus; this makes breathing
        difficult and prompts a person to cough. Bronchitis may be either
        <span class="repiratory-system-title">acute</span> or
        <span class="repiratory-system-title">chronic</span>.
      </p>
    </div>

    <img src="assets/img/bronchitis.png" alt="Bronchitis" />
  </div>
</section>
