<!-- Causes Section - Full Page -->
<section class="block block--dark causes">
  <div class="container">
    <header class="causes__header">
      <h3 class="causes__heading">Causes</h3>
      <div class="accent-border"></div>
    </header>

    <div class="grid grid--1x3 causes__images">
      <img
        class="causes__img"
        src="assets/img/smoking.jpg"
        alt="Image of smoker"
      />
      <img
        class="causes__img"
        src="assets/img/pollution.jpg"
        alt="Image of Polluted Environment"
      />
      <img
        class="causes__img"
        src="assets/img/sitting_old_man.jpg"
        alt="Image of Sitting Old man"
      />
    </div>
  </div>
</section>
