<!-- Complication Section - Full Page  -->
<section class="block complication">
  <div class="container">
    <header class="complication__header">
      <h3 class="complication__heading">Complications</h3>
      <div class="accent-border"></div>
    </header>

    <div class="complication__content">
      <h4>Acute vs. Chronic Bronchitis</h4>
      <p>
        Before discussing the complications of bronchitis, it’s important to
        distinguish the two different kinds, as both the symptoms and impact can
        vary significantly.
      </p>

      <p>
        Acute Bronchitis often occurs at the tail end of a cold or the flu.
        Instead of improving, a person may develop a low-grade fever and a
        bothersome cough. Roughly 90% of the time, acute bronchitis is viral in
        origin, so antibiotics are not helpful. Home remedies may ease the
        symptoms until they resolve on their own, though a cough may persist for
        several weeks.
      </p>

      <p>
        Chronic Bronchitis is considered by many to be a form of chronic
        obstructive pulmonary disease (COPD). It is characterized by a daily
        cough (often productive of large amounts of phlegm) that lasts for at
        least three months. In addition to coughing, symptoms such as shortness
        of breath (dyspnea), chest pain, and weight loss may occur.
      </p>

      <div class="grid grid--1x2 complication__images">
        <img
          class="complication__img"
          src="assets/img/chronic-bronchitis.png"
          alt="Image of Chronic Bronchitis"
        />
        <img
          class="complication__img"
          src="assets/img/acute-bronchitis.png"
          alt="Image of Acute Bronchitis"
        />
      </div>

      <div class="complication__acute">
        <h4>Acute Bronchitis Complications</h4>
        <p>
          While acute bronchitis usually runs its course, complications such as
          secondary bacterial infection (“superinfection”) may occur in 5% to
          10% of people.
        </p>
      </div>

      <div class="complication__secondary">
        <h4>Secondary Infections</h4>
        <p>
          Bacteria that are commonly responsible for superinfections (and are
          often present on the skin and in the environment) include
          Streptococcus pneumoniae (the bacteria that causes pneumococcal
          pneumonia), Haemophilis Influenzae, and Staphylococcus aureus.
        </p>

        <ul>
          <li>Middle ear infections (otitis media), especially in children</li>
          <li>Sinus infections (sinusitis)</li>
          <li>Pneumonia</li>
          <li>
            Sepsis (occurs when bacteria multiply in the bloodstream causing a
            body side and often very serious infection)
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
