<!-- Prevention - Full Page  -->
<section class="block block--grey prevention">
  <div class="container">
    <header class="prevention__header">
      <h3 class="prevention__heading">Prevention</h3>
      <div class="accent-border"></div>
      <p>To reduce your risk of bronchitis, follow these tips:</p>
    </header>

    <div class="prevention__content">
      <p>
        Avoid cigarette smoke. Cigarette smoke increases your risk of chronic
        bronchitis. Get vaccinated. Many cases of acute bronchitis result from
        influenza, a virus. Getting a yearly flu vaccine can help protect you
        from getting the flu. You may also want to consider vaccination that
        protects against some types of pneumonia. Wash your hands. To reduce
        your risk of catching a viral infection, wash your hands frequently and
        get in the habit of using alcohol-based hand sanitizers. Wear a surgical
        mask. If you have COPD, you might consider wearing a face mask at work
        if you're exposed to dust or fumes, and when you're going to be among
        crowds, such as while traveling.
      </p>

      <div class="grid grid--1x3 prevention__images">
        <img
          class="prevention__img"
          src="assets/img/quit_smoking.jpg"
          alt="Image of man quitting smoking"
        />
        <img
          class="prevention__img"
          src="assets/img/washing_hands.jpg"
          alt="Image of person washing hands"
        />
        <img
          class="prevention__img"
          src="assets/img/wear_facemask.jpg"
          alt="Image of man wearing face masks"
        />
      </div>
    </div>
  </div>
</section>
