<!-- Refences  -->
<section class="block reference">
  <div class="container">
    <header class="reference__header">
      <h3 class="reference__heading">References</h3>
    </header>

    <div class="reference__content">
      <ul>
        <li>
          <a
            href="https://my.clevelandclinic.org/health/articles/21205-respiratory-system#:~:text=Cilia%3A%20Tiny%20hairs%20that%20move,irritants%20out%20of%20your%20airways"
            target="_blank"
            >Cleveland Clinic - Respiratory System Article</a
          >
        </li>
        <li>
          <a
            href="https://www.lung.org/lung-health-diseases/how-lungs-work"
            target="_blank"
            >Lung health disease - How lungs work?</a
          >
        </li>
        <li>
          <a href="https://www.freepik.com" target="_blank"
            >Freepik.com - for image resources</a
          >
        </li>
        <li>
          <a
            href="https://www.mayoclinic.org/diseases-conditions/bronchitis/symptoms-causes/syc-20355566"
            target="_blank"
            >Definition, Symptoms, Causes, and Prevention</a
          >
        </li>
        <li>
          <a
            href="https://www.medicinenet.com/chronic_bronchitis/article.htm"
            target="_blank"
            >Bronchitis Article</a
          >
        </li>
        <li>
          <a
            href="https://www.hopkinsmedicine.org/health/conditions-and-diseases/acute-bronchitis"
            target="_blank"
            >Acute Bronchitis - Article</a
          >
        </li>
        <li>
          <a
            href="https://www.hopkinsmedicine.org/health/conditions-and-diseases/chronic-bronchitis"
            target="_blank"
            >Chronic Bronchitis - Article</a
          >
        </li>
        <li>
          <a
            href="https://www.everydayhealth.com/lung-and-respiratory/bronchitis/understanding-what-causes-bronchitis-how-prevent-it/"
            target="_blank"
            >Understanding Bronchitis and how to prevent it.</a
          >
        </li>
        <li>
          <a
            href="https://www.mayoclinic.org/diseases-conditions/bronchitis/symptoms-causes/syc-20355566"
            target="_blank"
            >MayoClinic - Symptoms and Causes of Bronchitis</a
          >
        </li>
        <li>
          <a
            href="https://www.lung.ca/lung-health/lung-disease/bronchitis"
            target="_blank"
            >Lung Disease - Bronchitis</a
          >
        </li>
        <li>
          <a
            href="https://www.webmd.com/lung/understanding-bronchitis-basics "
            target="_blank"
            >Understanding Bronchitis Basics</a
          >
        </li>
      </ul>
    </div>
  </div>
</section>
