<!-- Risks Factors  -->
<div class="block block--accent risks">
  <div class="container">
    <header class="risks__header">
      <h3 class="risks__heading">Risks Factors</h3>
      <div class="accent-border"></div>

      <p>
        Risk factors are characteristics at the biological, psychological and
        community levels that precede and are associated with a higher
        likelihood of negative outcomes. These can include physical, social and
        environmental factors.
      </p>

      <p>
        Cigarette smoke. People who smoke or who live with a smoker are at
        higher risk of both acute bronchitis and chronic bronchitis.
      </p>

      <p>
        Low resistance. This may result from another acute illness, such as a
        cold, or from a chronic condition that compromises your immune system.
        Older adults, infants and young children have greater vulnerability to
        infection.
      </p>

      <p>
        Exposure to irritants on the job. Your risk of developing bronchitis is
        greater if you work around certain lung irritants, such as grains or
        textiles, or are exposed to chemical fumes.
      </p>

      <p>
        Gastric reflux. Repeated bouts of severe heartburn can irritate your
        throat and make you more prone to developing bronchitis.
      </p>
    </header>
  </div>
</div>
