<!-- Primary Symtoms - Full Page  -->
<section class="block symptoms">
  <div class="container">
    <header class="symptoms__header">
      <h3 class="symptoms__heading">
        The primary symptom of
        <span class="respiratory-system-title">Bronchitis</span>
      </h3>
      <div class="accent-border"></div>

      <p>
        A hacking cough that may last anywhere from one to three weeks in
        duration. If you have bronchitis and cough, you will most likely bring
        up mucus, but it is possible that you could have a dry cough instead.
        When you breathe, you could also hear a noise that sounds like rattling
        or whistling (wheezing). It's possible that you'll have cold-like
        symptoms if you have acute bronchitis, such as a minor headache or body
        pains. Even though you should start to feel better in about a week, you
        could have a persistent cough that lasts for a few weeks longer than
        normal.
      </p>

      <p>
        A productive cough that has lasted for at least three months, with
        repeating cases occurring for at least two years in a row, is considered
        to be the defining characteristic of chronic bronchitis. People who
        suffer from chronic bronchitis are more prone to have bouts in which
        their cough or other symptoms become more severe. When this occurs, you
        run the risk of having an acute infection on top of the chronic
        bronchitis you already have.
      </p>
    </header>
  </div>
</section>
