<!-- Functionality  -->
<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">
      What does the
      <span class="repiratory-system-title">Respiratory System</span> do?
    </h2>
    <div class="accent-border"></div>
    <p class="block__paragraph">
      The respiratory system has many functions. Besides helping you inhale
      (breathe in) and exhale (breathe out), it also serve as:
    </p>
  </header>

  <!-- Showcase  -->
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <h3 class="feature__heading">Allows you to talk and to smell.</h3>
      <p>
        Inhalation and exhalation are how your body brings in oxygen and gets
        rid of carbon dioxide. The process gets help from a large dome-shaped
        muscle under your lungs called the diaphragm.
      </p>
      <p>
        When you breathe in, your diaphragm pulls downward, creating a vacuum
        that causes a rush of air into your lungs.
      </p>
      <p>
        The opposite happens with exhalation: Your diaphragm relaxes upward,
        pushing on your lungs, allowing them to deflate.
      </p>
    </div>
    <img
      src="assets/img/two_men_talking.jpg"
      alt="Two men talking"
      class="feature__img"
    />
  </article>

  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <h3 class="feature__heading">Warms air to match your body temperature</h3>
      <p>
        Warms air to match your body temperature and moisturizes it to the
        humidity level your body needs.
      </p>
      <p>
        The body keeps the lungs moist, and as drier air enters the lungs, they
        naturally draw moisture out.
      </p>
      <p>
        As a result, the humidification that your lungs and respiratory passages
        perform makes the air breathable and contributes to the slow but steady
        loss of moisture from the body.
      </p>
    </div>
    <img
      src="assets/img/temperature.jpg"
      alt="Warm body temparature"
      class="feature__img"
    />
  </article>

  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <h3 class="feature__heading">Removes waste gases.</h3>
      <p>
        Removes waste gases, including carbon dioxide, from the body when you
        exhale.
      </p>
      <p>
        Every cell in your body needs oxygen to live. The air we breathe
        contains oxygen and other gases. The respiratory system's main job is to
        move fresh air into your body while removing waste gases.
      </p>
      <p>
        Your lungs and respiratory system automatically perform this vital
        process, called gas exchange.
      </p>
    </div>
    <img
      src="assets/img/woman_breathing.jpg"
      alt="Woman Breathing"
      class="feature__img"
    />
  </article>
</section>
